@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
}
.main {
    background-image: url("img/bg-pattern-top-desktop.svg");
    background-repeat: no-repeat;
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: center;
    grid-column-gap: 100px;
    margin: 50px 0 0 150px;
}
.head {
    width: 400px;
    height: 300px;
}
.head h1 {
    color: hsl(300, 43%, 22%);
    font-size: 38px;
    font-weight: 700;
    font-family: 'Spartan', sans-serif;
}
.head p {
    font-size: 12px;
    width: 380px;
    color: hsl(303, 10%, 53%);
    line-height: 1.5;
    opacity: 70%;
}
.side {
    display: inline-grid;
    grid-row-gap: 20px;
    margin-bottom: 40px;
}
.side img {
    width: 17px;
    height: 16px;
    margin: 15px 0 0 10px;
}
.stars, .stars1, .stars2 {
    display: flex;
    flex-direction: row;
    height: 50px;
    background-color: hsl(300, 24%, 96%);
    justify-content: center;
    border-radius: 5%;
}
.stars p, .stars1 p, .stars2 p {
    margin: 18px 0 0 20px;
    font-weight: 500;
    font-size: 13px;
    color: hsl(300, 43%, 22%);
}
.stars {
    grid-column: 1;
    grid-row: 1;
    width: 400px;
}
.stars1 {
    grid-column: 1;
    grid-row: 2;
    margin-left: 50px;
    width: 400px;
}
.stars2 {
    grid-column: 1;
    grid-row: 3;
    margin-left: 100px;
    width: 400px;
}
.main1 {
    background-image: url("img/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat;
}
.container {
    display: grid;
    grid-template-columns: 320px 320px 320px ;
    margin-left: 150px;
    grid-column-gap: 30px;
}
.container img {
    grid-area: menu;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 30px 0 0 30px;
}
.box, .box1, .box2 {
    width: 320px;
    height: 225px;
    background-color: hsl(300, 43%, 22%);
    border-radius: 3%;
}
.header {
    display: flex;
}
.container .header-text {
    margin: 30px 0 0 10px;
    color: hsl(333, 80%, 67%);
}
.container .header-text .h4 {
    color: hsl(0, 0%, 100%);
    opacity: 90%;
}
.container .header-text p{
    margin: 0;
    opacity: 50%;
}
.box1 {
    margin-top: 20px;
}
.box2 {
    margin-top: 40px;
}
.container p {
    color: hsl(0, 0%, 100%);
    opacity: 80%;
    font-size: 12px;
    width: 280px;
    margin: 30px 0 0 30px;
    line-height: 1.5;
}
@media only screen and (max-width: 375px){
    body {
        margin-left: 20px;
    }
    .main {
        margin: 50px 0 0 0;
        text-align: center;
        grid-template-columns: none;
        align-items: baseline;
    }
    .head h1 {
        margin-left: 15px;
        font-size: 34px;
        width: 300px;
    }
    .head p {
        width: 330px;
        font-size: 14px;
        margin-bottom: 5px;
    }
    .stars {
        width: 400px;
        margin: 0;
    }
    .stars1 {
        margin: 0;
        width: 400px;
    }
    .stars2 {
        margin: 0;
        width: 400px;
    }
    .stars, .stars1, .stars2 {
        display: block;
        width: 330px;
        height: 75px;
    }
    .star-txt {
        position: relative;
        bottom: 5px;
    }
    .container {
        margin: 0;
        grid-template-columns: none;
    }
    .box, .box1, .box2 {
        height: 200px;
    }
}

.attribution {
    margin-top: 10px;
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }